<header class="bg-light p-4 mb-4">
    <h1 class="display-5 fw-bold">MCP</h1>
    <p class="lead">
        {{title}}
    </p> 
</header>

<section>
<div class="container-fluid">
    <button id="connectButton">Connect via Serial Port</button>
    <div id="log"></div>
    <div class="accordion accordion-flush" id="menu">    
        <div class="accordion-item">
            <h2 class="accordion-header">
                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#stats" aria-expanded="false" aria-controls="flush-collapseOne">
                    <h2>Statistics</h2>
                 </button>
            </h2>
            <div class="accordion-collapse collapse" id="stats" data-bs-parent="#menu">
                <div class="accordion-body d-grid gap-2 mb-4">           
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span>Controllers: </span><span id="num-controllers">0</span></li>
                        <li class="list-group-item"><span>Windows: </span><span id="num-windows">0</span></li>            
                        <li class="list-group-item"><span>Tree Count: </span><span id="num-trees">0</span></li>
                        <li class="list-group-item"><span>Sun Count: </span><span id="num-suns">0</span></li>
                        <li class="list-group-item"><span>Time of Day: </span><span id="num-hour">0</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#settings" aria-expanded="false" aria-controls="flush-collapseOne">
                    <h2>Settings</h2>
                 </button>
            </h2>
            <div class="accordion-collapse collapse" id="settings" data-bs-parent="#menu">
                <div class="accordion-body d-grid gap-2 mb-4">  
                    <label class="mt-4" for="collection-list">Collections</label>
                    <select id="collection-list"></select>
                    <button type="button" class="btn btn-lg btn-secondary" id="update-collection">Update Collection</button>

                    <label class="mt-4" for="tree-density">Tree Density (current density is <span id="current-density"></span>)</label>
                    <input type="range" min="0" max="100" class="border-0 custom-range" id="tree-density" list="values">
                    <button type="button" class="btn btn-lg btn-secondary" id="update-density">Update Density to <b><span id="new-density"></span></b></button>
                    <datalist id="values">
                        <option value="0" label="0"></option>
                        <option value="25" label="25"></option>
                        <option value="50" label="50"></option>
                        <option value="75" label="75"></option>
                        <option value="100" label="100"></option>
                    </datalist>   

                    <label class="mt-4" for="time-of-day">Time of Day (current time is <span id="current-time"></span>)</label>
                    <input type="range" min="0" max="23" class="border-0 custom-range" id="time-of-day" list="values">
                    
                    <hr>
                    <button type="button" class="btn btn-lg btn-secondary" id="toggle-tree-info">Toggle Info 🌲💾</button>
                    <button type="button" class="btn btn-lg btn-secondary" id="take-snapshot">Take Snapshot 📸</button>

                    <hr>
                    <button type="button" class="btn btn-lg btn-danger" id="clear-forest">⚠️🔥 Clear Forest 🔥⚠️</button>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section id="footer">
</section>

<script>
    let socket = io('/mcp');  
    let collectionList = document.getElementById('collection-list');

    document.addEventListener("DOMContentLoaded", event => {
        document.getElementById("connectButton").onclick = connectController;
        document.getElementById("clear-forest").onclick = clearForest;
        document.getElementById("take-snapshot").onclick = takeSnapshot;
        document.getElementById("toggle-tree-info").onclick = toggleTreeInfo;
        document.getElementById("update-collection").onclick = updateCollection;
        document.getElementById("update-density").onclick = updateDensity;
        document.getElementById("time-of-day").oninput = (e) => {setTimeOfDay(e.target.value)};
        document.getElementById("tree-density").oninput = (e) => {document.getElementById("new-density").innerText = e.target.value};
        socket.on('start up', startUp);
        socket.on('update', updateScreen); 
    });

    async function connectController() {
        const port = await navigator.serial.requestPort();
        await port.open({baudRate: 9600});

        const decoder = new TextDecoderStream();
            
        port.readable.pipeTo(decoder.writable);

        const inputStream = decoder.readable;
        const reader = inputStream.getReader();
        
        let buffer = '';
        while (true) {
            const { value, done } = await reader.read();

            if (value) {
            buffer += value;
            if (_.endsWith(buffer, "~")) {
                processControllerOutput(buffer);
                buffer = '';
            } 
            }
            
            if (done) {
            console.log('[readLoop] DONE', done);
            reader.releaseLock();
            break;
            }
        }
    }

    function processControllerOutput(value) {
        // values take the form: P-0-A-# || B-0-A || A-0-A-#
        const v = _.trimEnd(value, "~");
        const words = v.split("-");

        {{!-- document.getElementById('log').innerHTML += `Controller value is ${value};`;     --}}

        if (words[0] === 'B') {
            switch (words[1]) {
                case '0':
                    // sendMessage({"action": "snapshot", "packet": {}});
                    break;
                case '1':
                    break;
                case '2':
                    break;     
                default:
                    break;
            }
        } else if (words[0] === 'P') {
            switch (words[1]) {
                case '0':
                    // Values coming out of the Pot run from 0->1023, map them to 0->23
                    setTimeOfDay(Math.round(scale(Number(words[3]),0,1023,0,23)));
                    break;
                default:
                    break;
            }
        } else if (words[0] === 'A') {
            switch (words[1]) {
                case '0':
                    // Use the accelerometer for something???
                    // 64 -> flat
                    // 3 -> tilt left
                    // 2 -> tilt right
                    // 1 -> tilt forward
                    // 0 -> tilt back
                    break;
                default:
                    break;
            }            
        } else {

        }        
    }

    function startUp(settings) {
        collectionList.replaceChildren();
        settings.collections.forEach((collection,index) => {
            let opt = document.createElement('option');
            opt.innerText = collection.name;
            opt.value = index;
            opt.dataset.url = collection.url;

            collectionList.appendChild(opt);
        })

        updateScreen(settings);
    }

    function updateScreen(settings) {
        document.getElementById("num-controllers").innerText = settings.controllerCount;
        document.getElementById("num-windows").innerText = settings.windowCount;
        document.getElementById("num-trees").innerText = settings.treeCount;
        document.getElementById("num-suns").innerText = settings.sunCount;
        document.getElementById("num-hour").innerText = settings.timeOfDay;
        document.getElementById("current-density").innerText = settings.treeDensity;
        document.getElementById("new-density").innerText = settings.treeDensity;
        document.getElementById("tree-density").value = settings.treeDensity;
        document.getElementById("time-of-day").value = settings.timeOfDay;
        document.getElementById("current-time").innerText = settings.timeOfDay;
    }

    function sendMessage(message) {
        let data = {
            destination: message.destination,
            action: message.action,
            packet: message.packet
        };
        
        socket.emit("take-action", data);
    }    

    function setTimeOfDay(hour) {
        sendMessage({"destination": "window", "action": "set-time-of-day", "packet": {"hour": hour}})
    }

    function clearForest() {
        sendMessage({"destination": "window", "action": "clear", "packet": {}});
    }

    function takeSnapshot() {
        sendMessage({"destination": "window", "action": "snapshot", "packet": {}});
    }

    function toggleTreeInfo() {
        sendMessage({"destination": "window", "action": "toggle-info", "packet": {}});
    }

    function updateCollection() {
        let list = document.getElementById("collection-list");
        let selected = list.options[list.selectedIndex];
        sendMessage({
            "destination": "controller", 
            "action": "set-collection", 
            "packet": {
                "name": selected.text, 
                "url": selected.dataset.url
                }
            });
    }

    function updateDensity() {
        sendMessage({
            "destination": "window",
            "action": "set-density",
            "packet": {
                "density": document.getElementById("tree-density").value
            }
        })
    }

    function scale (number, inMin, inMax, outMin, outMax) {
        return (number - inMin) * (outMax - outMin) / (inMax - inMin) + outMin;
    }    
</script>