<script src="javascripts/client.controller.js" type="text/javascript"></script>
<script src="javascripts/qrcode.min.js" type="text/javascript"></script>
<script src="javascripts/keypress-2.1.5.min.js" type="text/javascript"></script>
<script src="javascripts/anime.min.js" type="text/javascript"></script>

<section id="header">
    <h1>{{title}}</h1>

    <button id="connectButton">Connect via Serial Port</button>
    <div id="log"></div>
</section>

<section id="controller">
    <div id="viewer"></div>
</section> 

<section id="footer">

</section>