<script src="https://cdn.jsdelivr.net/npm/d3-fetch@3"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-color@3"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-dispatch@3"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-ease@3"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-interpolate@3"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-selection@3"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-timer@3"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-transition@3"></script>
<script src='/javascripts/forest.js'></script>
<script src='/javascripts/tree.js'></script>
<script src='/javascripts/client.window.js'></script>
<script src='/javascripts/html2canvas.min.js'></script>

<div id="sky"></div>
<div id="darknessOverlaySky"></div>
<div id="horizon"></div>
<div id="horizonNight"></div>

<div id="spacetime"></div>

<div id="ground"></div>
<div id="groundDistance"></div>
<div id="darknessOverlayGround"></div>

<div id="timestamp"></div>