<header class="bg-dark p-4 mb-4">
    <h1 class="display-5 fw-bold">History of The Forest</h1>
    <p class="lead">
        {{title}}
    </p> 
</header>

<section>
<div class="container-fluid">
	<ul class="list-group list-group-flush">
		<li class="list-group-item"><span>Controllers: </span><span id="num-controllers">0</span></li>
		<li class="list-group-item"><span>Windows: </span><span id="num-windows">0</span></li>

		<li class="list-group-item"><span>Tree Count: </span><span id="num-trees">0</span></li>
	</ul>
</div>
</section> 

<section id="footer">
</section>

<script>
    let socket = io('/history');  
   
    document.addEventListener("DOMContentLoaded", event => {
        socket.on('start up', updateScreen); 
    });

    function updateScreen(settings) {
        document.getElementById("num-controllers").innerText = settings.controllerCount;
        document.getElementById("num-windows").innerText = settings.windowCount;
        document.getElementById("num-trees").innerText = settings.treeCount;
    }
</script>