<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<header class="bg-light p-4 mb-4">
    <h1 class="display-5 fw-bold">The Trailhead</h1>
    <p class="lead">
        {{title}}
    </p> 
</header>

<section>
    <div class="container-fluid">
        <h2>Why this?</h2>
        <p>
        Why not?
        Art Forest is one of many playful research and development projects by the Harvard Art Museums Department of Digital Infrastructure and Emerging Technology (DIET). It is built on the museums collections with the museum's API. Its aim is to explore the expressive nature of data by creating an interactive, imaginary version of the museums based on designs found in the natural world. The project uses a basic implementation of an L-system to grow trees from data. 
        </p>
        
        <h2>Credits</h2>
        <h3>Background sunrise/sunset</h3>
        <p>    
            Copyright (c) 2023 by Marty (https://codepen.io/msaetre/pen/JjqPby)

            Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

            The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
        </p>
    </div>
</section>