<div id="sky"></div>
<div id="horizon"></div>
<div id="horizonNight"></div>
<div id="ground"></div>
<div id="groundDistance"></div>
<div id="darknessOverlaySky"></div>
<div id="darknessOverlayGround"></div>

<style>

#sky {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
  z-index: 5; 
   background: -webkit-linear-gradient(bottom, rgba(249,251,240,1) 10%, rgba(215,253,254,1) 20%, rgba(167,222,253,1) 40%, rgba(110,175,255,1) 100%); 
   background: -moz-linear-gradient(bottom, rgba(249,251,240,1) 10%, rgba(215,253,254,1) 20%, rgba(167,222,253,1) 40%, rgba(110,175,255,1) 100%); 
   background: -ms-linear-gradient(bottom, rgba(249,251,240,1) 10%, rgba(215,253,254,1) 20%, rgba(167,222,253,1) 40%, rgba(110,175,255,1) 100%); 
   background: linear-gradient(bottom, rgba(249,251,240,1) 10%, rgba(215,253,254,1) 20%, rgba(167,222,253,1) 40%, rgba(110,175,255,1) 100%); 
   opacity: 0.52;
}

#horizon {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;  
  z-index: 5; 
   background: -webkit-linear-gradient(bottom, rgba(212,87,43,0.9) 0%, rgba(246,149,52,0.8) 20%,rgba(24,75,106,0) 100%);
   background: -moz-linear-gradient(bottom, rgba(212,87,43,0.9) 0%, rgba(246,149,52,0.8) 20%,rgba(24,75,106,0) 100%);
   background: -ms-linear-gradient(bottom, rgba(212,87,43,0.9) 0%, rgba(246,149,52,0.8) 20%,rgba(24,75,106,0) 100%);
   background: linear-gradient(bottom, rgba(212,87,43,0.9) 0%, rgba(246,149,52,0.8) 20%,rgba(24,75,106,0) 100%);
   opacity: 0.99;
}

#horizonNight {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;  
  z-index: 10000; 
  background: -webkit-linear-gradient(bottom, rgba(57,167,255,1) 0%, rgba(13,98,245,1) 20%,rgba(0,11,22,0.1) 60%);
  background: -moz-linear-gradient(bottom, rgba(57,167,255,1) 0%, rgba(13,98,245,1) 20%,rgba(0,11,22,0.1) 60%);
  background: -ms-linear-gradient(bottom, rgba(57,167,255,1) 0%, rgba(13,98,245,1) 20%,rgba(0,11,22,0.1) 60%);
  background: linear-gradient(bottom, rgba(57,167,255,1) 0%, rgba(13,98,245,1) 20%,rgba(0,11,22,0.1) 60%);
  opacity: 0;
}

#darknessOverlaySky {
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
  z-index: 9999;
}

#darknessOverlayGround {
  background-color: #000;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
  z-index: 99;
}

#groundDistance {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat; 
   background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.0) 10%,rgba(0,0,0,0.20) 44%,rgba(0,0,0,0.65) 95%,rgba(0,0,0,0.62) 100%);  
   background: -moz-linear-gradient(90deg, rgba(0,0,0,0.0) 10%,rgba(0,0,0,0.20) 44%,rgba(0,0,0,0.65) 95%,rgba(0,0,0,0.62) 100%); 
   background: -ms-linear-gradient(90deg, rgba(0,0,0,0.0) 10%,rgba(0,0,0,0.20) 44%,rgba(0,0,0,0.65) 95%,rgba(0,0,0,0.62) 100%); 
  z-index: 20;
}

#ground {
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;   
    background: -webkit-linear-gradient(bottom, rgb(45, 31, 0) 0%,rgb(100, 108, 13) 55%, rgb(125, 174, 26) 80%, rgb(136, 220, 62) 100%); 
    background: -moz-linear-gradient(bottom, rgba(0,25,45,1) 0%,rgba(14,71,117,1) 35%, rgba(26,126,174,1) 70%, rgba(62,168,220,1) 100%); 
    background: -ms-linear-gradient(bottom, rgba(0,25,45,1) 0%,rgba(14,71,117,1) 35%, rgba(26,126,174,1) 70%, rgba(62,168,220,1) 100%); 
    background: linear-gradient(bottom, rgb(45, 31, 0) 0%,rgb(108, 117, 14) 35%, rgb(125, 174, 26) 70%, rgb(136, 220, 62) 100%); 

  z-index: 10;
}
</style>

<script>
var mouse = {x: 0, y: 0};
var myHeight = 0;
var ground = document.getElementById("ground");

document.addEventListener('mousemove', function(e){ 
    mouse.y = e.clientY || e.pageY;

    updateDimensions();

    var groundHeight = ground.clientHeight;

    document.getElementById("darknessOverlayGround").style.opacity = Math.min((mouse.y-(myHeight/2)) / (myHeight/2), 1);
    document.getElementById("darknessOverlaySky").style.opacity = Math.min((mouse.y-(myHeight*7/10)) / (myHeight-(myHeight*7/10)), 1);
    document.getElementById("horizonNight").style.opacity = (mouse.y-(myHeight*4/5)) / (myHeight-(myHeight*4/5));

    document.getElementById("groundDistance").style.opacity = (mouse.y/myHeight+0.6);
    document.getElementById("sky").style.opacity = Math.min((1-mouse.y/myHeight), 0.99);

    if(mouse.y > 0) {
        if(mouse.y > myHeight/2) {
            document.getElementById("horizon").style.opacity = (myHeight-mouse.y) / (myHeight/2) + 0.2;
        } else {
            document.getElementById("horizon").style.opacity = Math.min(mouse.y / (myHeight/2), 0.99);
        }
    } 


}, false);

function updateDimensions() {
  if( typeof( window.innerWidth ) == 'number' ) {
    //Non-IE
    myHeight = window.innerHeight;
  } else if( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) {

    myHeight = document.documentElement.clientHeight;
  } else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) {

    myHeight = document.body.clientHeight;
  }
}

function windowResize() {
    updateDimensions();

    // update to new sky height
    skyHeight = document.getElementById("sun").clientHeight;
    document.getElementById("groundDistance").style.height = myHeight - skyHeight;
}

</script>